<app-navbar></app-navbar>
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">


  <div class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('https://images.pexels.com/photos/5198285/pexels-photo-5198285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
          ">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <div class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img alt="..." src="https://images.pexels.com/photos/9953429/pexels-photo-9953429.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
              </div>
            </div>

          </div>
          <div class="text-center mt-44">
            <h3 class="text-4xl font-semibold leading-normal text-blueGray-700 mb-2">
              OxiHelp
            </h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              Cusco, Perú
            </div>
            <div class="mb-2 text-blueGray-600 mt-10">
              <i class="fas fa-stethoscope mr-2 text-lg text-blueGray-400"></i>Quick Help Covid
            </div>
            <div class="mb-2 text-blueGray-600">
              <i class="fas fa-truck mr-2 text-lg text-blueGray-400"></i>Oxygen Balloon Distributor
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl"><span class="text-indigo-600">MISSION</span></h2>
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  OxiHelp mission is to deliver to our clients products with quality standards for medical oxygen compression, satisfying our clients in significant savings in the installation of Oxygen Balloons, likewise, to generate levels of safety, seriousness and comfort of our product, dispensed by our quality teams and expert human capital in the field.
                </p>
                <div class="divider"></div>
                <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl "><span class="text-indigo-600">VISION</span></h2>
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Consecrate ourselves and be recognized as a Free Distributor of Balloons and Oxygen. Be applied in different entities of the state so that in this way a great help can be brought to the people of our society since they are the ones who most lack resources and external help .
                </p>
                <a  class="font-normal text-pink-500">Show more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
