<app-navbar></app-navbar>

<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<section class="pb-20 relative block bg-blueGray-800">
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
          <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
              <h2 class="text-4xl font-semibold text-white">CONTACT</h2>
              <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
                For any questions or information you require about the provision of services that are carried out, you can consult by doing the following.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div class="text-lightBlue-300 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                <i class="fas fa-medal text-xl"></i>
              </div>
              <h6 class="text-xl mt-5 font-semibold text-white">
                Our Main Office
              </h6>
              <p class="mt-2 mb-4 text-blueGray-400">
                Cusco,Cusco
              </p>
              <p class="mt-2 mb-4 text-blueGray-400">

            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                <i class="fas fa-phone text-xl"></i>
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">
                Phone number
              </h5>
              <p class="mt-2 mb-4 text-blueGray-400">
                234-9876-5400
            </p>
            <p class="mt-2 mb-4 text-blueGray-400">
                +51 992 457 643
              </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
              <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                <i class="fas fa-lightbulb text-xl"></i>
              </div>
              <h5 class="text-xl mt-5 font-semibold text-white">Email</h5>
              <p class="mt-2 mb-4 text-blueGray-400">
                oxihelp123@gmail.com
              </p>
              <p class="mt-2 mb-4 text-blueGray-400">
                oxihelp3@hotmail.com
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="relative block pt-24 lg:pt-0 bg-blueGray-800">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
                <div class="flex-auto p-5 lg:p-10">
                  <h4 class="text-2xl font-semibold">CONTACT</h4>
                  <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
                    Complete this form and it will be responded to within 24 hours.
                  </p>
                  <form action="">

                    <div class="relative w-full mb-3 mt-8">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="full-name">Name:</label><input type="text" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Enter your names">
                    </div>
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="email">Email:</label><input type="email" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Enter your Email">
                    </div>
                    <div class="relative w-full mb-3">
                      <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="message">Message:</label><textarea rows="4" cols="80" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Enter your message"></textarea>
                    </div>
                    <div class="text-center mt-6">
                      <button class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        SEND
                      </button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
