<!-- component -->
<div class="container items-center px-5 py-12 lg:px-20">
    <form class="flex flex-col w-full p-10 px-8 pt-6 mx-auto my-6 mb-4 transition duration-500 ease-in-out transform bg-white border rounded-lg lg:w-1/2 ">
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Código</label>
        <input type="text" id="codigo" name="codigo" placeholder="Ingrese Código" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Tamaño de Balón</label>
        <input type="text" id="tam_balon" name="tam_balon" placeholder="tamaño m3" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Nombres</label>
        <input type="text" id="nombres" name="nombres" placeholder="Ingrese Nombres" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" placeholder="Ingrese Apellidos" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">DNI</label>
        <input type="text" id="dni" name="dni" placeholder="Ingrese DNI" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Celular</label>
        <input type="text" id="celular" name="celular" placeholder="Ingrese Celular" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="relative pt-4">
        <label for="name" class="text-base leading-7 text-blueGray-500">Dirección</label>
        <input type="text" id="direccion" name="direccion" placeholder="Ingrese Dirección" class="w-full px-4 py-2 mt-2 mr-4 text-base text-black transition duration-500 ease-in-out transform rounded-lg bg-gray-100 focus:border-blueGray-500 focus:bg-white focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2">
      </div>
      <div class="flex flex-wrap mt-4 mb-6 -mx-3">
        <div class="w-full px-3">
          <label class="text-base leading-7 text-blueGray-500" for="description">Observaciones </label>
          <textarea class="w-full h-32 px-4 py-2 mt-2 text-base text-blueGray-500 transition duration-500 ease-in-out transform bg-white border rounded-lg focus:border-blue-500 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 apearance-none autoexpand" id="observacion" type="text" name="observacion" placeholder="..." required=""></textarea>
        </div>
      </div>
      <div class="flex items-center w-full pt-4 mb-4">
        <!--button class="w-1/2 py-3 text-base text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800 "> Cancelar </button-->
        <button class="w-48 mx-auto py-3 text-base text-white transition duration-500 ease-in-out transform bg-blue-600 border-blue-600 rounded-md focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2 hover:bg-blue-800 "> Aceptar </button>
      </div>
      <hr class="my-4 border-gray-200">
    </form>
  </div>
