<div class="">

</div>
<td class="py-3 px-6 text-left">
  <div class="flex items-center">
      <span id="idBalon">{{balon?.id}}</span>
  </div>
</td>
<td class="py-3 px-6 text-center">
  <span>{{balon?.tamanio}}</span>
</td>
<td class="py-3 px-6 text-center">
<span *ngIf="balon?.estado === 'Not available'" class="bg-red-200 text-red-600 py-1 px-3 rounded-full text-xs">{{balon?.estado}}</span>
<span *ngIf="balon?.estado === 'Available'" class="bg-green-200 text-green-600 py-1 px-3 rounded-full text-xs">{{balon?.estado}}</span>
<span *ngIf="balon?.estado === 'In maintenance'" class="bg-yellow-200 text-yellow-600 py-1 px-3 rounded-full text-xs">{{balon?.estado}}</span>
</td>
<td class="py-3 px-6 text-center">
<!-- MODAL-->

<!-- MODAL EDIT-->
<input type="checkbox" id="my-modal-3" class="modal-toggle">
<div class="modal">
  <div class="modal-box p-10 card bg-base-200 max-w-xs">
    <div class="form-control">
      <form action="">
        <label class="label">
          <span class="label-text">Size / M3</span>
        </label>
        <input type="text" placeholder="20 M3" class="input" value="{{balon?.tamanio}}">
        <label class="label"></label>


        <div class="w-full flex flex-col mb-3">
          <span class="label-text">State</span>
          <select class="block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded-lg h-10 px-4 md:w-full " required="required" name="integration[city_id]" id="integration_city_id" value= "{{balon?.estado}}">
            <option value="">Seleted state</option>
            <option value="Available">Available</option>
            <option value="Not available">Not available</option>
            <option value="In maintenance">In maintenance</option>
          </select>
          <p class="text-sm text-red-500 hidden mt-3" id="error">Please fill out this field.</p>
        </div>

        <div class="modal-action ">
          <label for="my-modal-3" class="btn btn-primary" >Accept</label>
          <label for="my-modal-3" class="btn">Close</label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- MODAL DELETE-->
<!-- <input type="checkbox" id="my-modal-4" class="modal-toggle">
<div class="modal alert alert-warning">
  <div class="modal-box">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
    </svg>
    <p>Sure you want to delete, since this action is permanent</p>
    <div class="modal-action ">
      <label for="my-modal-4" class="btn btn-warning ml-2" (click) ="removeEmiter()">Accept</label>
      <label for="my-modal-4" class="btn">Close</label>
    </div>
  </div>
</div> -->
  <div class="flex item-center justify-center">


      <!-- Edit -->
      <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
      </button>

      <!-- delete -->
      <button class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110" (click)="removeEmiter()" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
      </button>
  </div>
</td>
