<app-navbar></app-navbar>
<!-- component -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
      <h2 class="text-base font-bold text-indigo-600">
          We have the best Oxygen tanks :
      </h2>
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">

      </h1>
  </div>


    <div *ngFor="let item of lista; let esImpar = even; let esPar = odd" class="grid grid-cols-1 lg:grid-cols-2 gap-6 flex-auto">

      <div class="flex font-sans">
        <div class="flex-none w-48 relative">
          <img src="https://medicolsa.com.co/391-large_default/cilindro-en-aluminio-para-oxigeno-luxfer-kramer-eeuu-ref-m00m-3452-litros.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" />
        </div>
        <form class="flex-auto p-6">
          <div class="flex flex-wrap">
            <h1 class="flex-auto text-lg font-semibold text-gray-900">
              Oxygen balloon
            </h1>
            <div class="text-lg font-semibold text-gray-500">
              Gratuitous
            </div>
            <div class="w-full flex-none text-sm font-medium text-gray-700 mt-2">
              In stock
            </div>
          </div>

          <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-gray-200">
            <div class="space-x-1 flex text-sm">

              <div class="w-16 flex-none text-sm font-medium text-gray-900 mt-2">
                SIZE M3 :
              </div>
              <label>
                <input class="sr-only peer" name="size" type="radio" value="s" />
                <div class="w-9 h-9 rounded-lg bg-black flex items-center justify-center text-white peer-checked:font-semibold peer-checked:bg-gray-900 peer-checked:text-white">
                  {{item.capacidad}}
                </div>
              </label>

            </div>
          </div>

          <div class="flex space-x-4 mb-6 text-sm font-medium">
            <div class="flex-auto flex space-x-4">

              <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" (click)="addCarItem(item, $event)">
                Get now
              </button>

            </div>

          </div>
          <p class="text-sm text-gray-700">
            Free shipping regionally
          </p>
        </form>
      </div>

      <!-- <div  class="flex font-sans">
          <div class="flex-none w-48 relative">
            <img src="https://medicolsa.com.co/391-large_default/cilindro-en-aluminio-para-oxigeno-luxfer-kramer-eeuu-ref-m00m-3452-litros.jpg" alt="" class="absolute inset-0 w-full h-full object-cover" />
          </div>
          <form class="flex-auto p-6">
            <div class="flex flex-wrap">
              <h1 class="flex-auto text-lg font-semibold text-gray-900">
                Classic Utility Jacket
              </h1>
              <div class="text-lg font-semibold text-gray-500">
                Gratuitous
              </div>
              <div class="w-full flex-none text-sm font-medium text-gray-700 mt-2">
                In stock
              </div>
            </div>

            <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-gray-200">
              <div class="space-x-1 flex text-sm">

                <div class="w-16 flex-none text-sm font-medium text-gray-900 mt-2">
                  SIZE M3 :
                </div>
                <label>
                  <input class="sr-only peer" name="size" type="radio" value="s" />
                  <div class="w-9 h-9 rounded-lg bg-black flex items-center justify-center text-white peer-checked:font-semibold peer-checked:bg-gray-900 peer-checked:text-white">
                    PRubea
                  </div>
                </label>

              </div>
            </div>

            <div class="flex space-x-4 mb-6 text-sm font-medium">
              <div class="flex-auto flex space-x-4">

                <button class="h-10 px-6 font-semibold rounded-md bg-black text-white" (click)="addCarItem(item.id)">
                  Get now
                </button>

              </div>

            </div>
            <p class="text-sm text-gray-700">
              Free shipping regionally
            </p>
          </form>
      </div> -->

    </div>



</section>
